* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main {
    overflow: hidden;
    height: 80vh;
}

.container1::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
}

.container1 {
    /* border: 2px solid red; */
    width: 80vh;
    height: 95vw;
    transform: rotate(-90deg) translate3d(0, -80vh, 0);
    transform-origin: right top;
    overflow-x: auto;
    background-color: black;
    /* overflow-y: auto; */

}

.slide-img-box {
    height: 60vh;
    transform: rotate(90deg);
    margin-top: 35%;
    position: relative;
}

.box1:first-child {
    margin-top: 15%;
}

.slide-img-box img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.slide-img-box video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: fill;
    display: none;
}

.text {
    color: white;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    margin-left: 10%;
    transform: translate(-50%, -50%);
}

.test1,
.test2,
.test3,
.test4 {
    position: absolute;

    width: 100%;
    height: 100%;
    // z-index: 10;
    border: 1px solid red;
    cursor: pointer;
}

