* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.write-container {
    height: 100vh;
    background-image: url('./img/qna_bg.png');
    background-size: cover // background-repeat : no-repeat;
}

.write-main img {
    width: 100%;
    height: 100%;
}




.test-header {
    border: 3px solid red;
    height: 10vh;
}

// Q&A 문의사항
.write-header {
    height: 20vh;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


// 게시판 박스
.write-box {
    // border:  3px solid palegreen;
    height: 55vh;
    color: white;

}

.write-main {
    height: 100%;
    width: 70%;
    margin-left: 15%;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.write-text {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}


// 게시글 작성 부분
.write-content {
    border: 1px solid white;
    border-left: none;
    border-right: none;
    width: 100%;
    height: 75%;
}

.write-flex-item {
    display: flex;
    align-items: center;
    text-align: center;
    height: 60px;

    input {
        height: 30px;
        background-color: #3e3e3e;
        border: 1px solid rgba(255, 255, 255, 0.582);

        // border: 1px solid white;

        color: white;
        // z-index: 1;
    }
}

.write-content-header input {
    width: 85%;
}

.write-content-text {
    height: 64%;
    display: flex;
    align-items: center;
    text-align: center;
}

.write-content-text textarea {
    width: 85%;
    height: 100%;
    margin-top: 3%;
    background-color: #3e3e3e;
    border: 1px solid rgba(255, 255, 255, 0.582);
    color: white;
}


// 작성완료 / 목록 버튼
.write-btnbox {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    cursor: pointer;
}


.test-footer {
    // border: 3px solid gold;
    height: 15vh;
    background-color: rgba(36, 34, 34, 0.877);
}


/* footer start */

footer {
    background-color: #2e2e2e;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../조인피플img/footer_logo_big.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

.footer-container {
    width: 80%;
    margin: 0 auto;
    padding-top: 35px;
}

.footer-container h2 {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 400;
}

.footer-container h2 img {
    width: 65px;
}

.footer-container p {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    display: flex;
    margin-top: 15px;
    margin-left: 15px;
}
.footer-container span {
    align-items: center;
    display: flex;
    margin-left: 20px;
}

.copyright {
    text-align: center;
}
.copyright p {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 20px;
}

/* footer end */